@model IEnumerable<TwoFactorAuth.log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateTime_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.areaCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mortal.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateTime_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.areaCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mortal.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.logId }) |
            @Html.ActionLink("Details", "Details", new { id=item.logId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.logId })
        </td>
    </tr>
}

</table>
